.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
  max-width: 235px;
  width: 100%;
}

.label {
  margin-top: 10px;
}

.input{
  padding: 1px 6px;
}

.button {
  margin-top: 10px;
  padding: 5px;
  width: 100px;
  border-radius: 3px;
  border: 1px solid rgb(193, 191, 191);
  
    &:hover {
      background-color: #c4c4c4;
    }

    &:active {
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

.error {
  color: red;
  font-size: 13px;
  letter-spacing: 0.05em;
}