#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  padding: 10px;
}

p {
  margin: 0;
}

.container {
  max-width: 268px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 5px;
  flex-direction: column;
  padding: 0 10px;
}

button {
  cursor: pointer;
}